<%= simple_form_for [:admin, @commfort] do |f| %>
	<section class='fields-wrapper two-columns'>
    <header>
      <h2>Novo Item de conforto</h2>
    </header>
     <article>
      <%= f.input :active, label: "Categoria ativa ?" %>
      <%= f.input :name, placeholder: 'Nome da categoria ', required: :true %>  

    </article>
</section>

  <footer>
    <%= submit_button f %>
  </footer>


<% end %>

