<%= f.fields_for :hotel_survey do |ff| %>

<div class="card">
	<div class="card-header"><strong>Áreas de Lazer</strong></div>
	<div class="card-body">
		<div class="row form-group">
			<div class="col-md-12">
				<%= render partial: 'user/hotels/show/survey/recreation' , locals: {f: ff}  %>
				<%  RecreationArea.where(id: f.object.recreation_area).each  do |it|  %>
				<i class="far fa-thumbs-up" style="color:green;"></i> <%= it.name %><br>
				<% end %>
			</div>
		</div>
	</div>
</div>
<hr>
<% end %>


