<div class="row form-group">
	<div class="col-md-3">
		<%= f.input :acomodation_score, collection: 0..20, class: "form-control" %>
	</div>
		<div class="col-md-9">
		<%= f.input :accomodation_score_comments,  class: "form-control" %>
	</div>
</div>

