<div class="row form-group">
	<div class="col-md-3">
		<%= f.input :conservation_score, collection: 0..15 , class: "form-control"  %>
	</div>
		<div class="col-md-9">
		<%= f.input :conservation_score_comments, class: "form-control"  %>
	</div>
</div>