<div class="row form-group">
	<div class="col-md-3">
		<%= f.input :structure_score, as: :select, collection: 0..10, class: "form-control"  %>
	</div>
		<div class="col-md-9">
		<%= f.input :structure_score_comments,  as: :text, class: "form-control"  %>
	</div>
</div>

