<div class="row form-group">
	<div class="col-md-3">
		<%= f.input :accessibility_score  %>
	</div>
		<div class="col-md-9">
		<%= f.input :accessibility_score_comments, class: "form-control"  %>
	</div>
</div>
