<div class="row form-group">
	<div class="col-md-3">
		<%= f.input :historical_buildings_score %>
	</div>
		<div class="col-md-9">
		<%= f.input :historical_buildings_score_comments, class: "form-control" %>
	</div>
</div>
