<div class="row form-group">
	<div class="col-md-3">
		<%= f.input :interest_socore %>
	</div>
		<div class="col-md-9">
		<%= f.input :interest_socore_comments, class: "form-control" %>
	</div>
</div>
