<div class="row form-group">
	<div class="col-md-3">
		<%= f.input :Sort_order_by_destination_score %>
	</div>
	<div class="col-md-9">
		<%= f.input :sort_order_by_destination_score_comments, class: "form-control" %>
	</div>
</div>
