
<head>

  <title>Área do Repórter</title>

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    
		<%= render partial: 'layouts/user/sidebar' %>
    
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <%= render partial: "layouts/user/navbar" %>
      <%= render partial: "layouts/user/content" %>

    </div>

  </div>


  <!-- Menu Toggle Script -->

</body>
