<div class="row form-group">
	<div class="col-md-3">
		<%= f.input :location_score,  class: "form-control" , readonly: true %>
	</div>
	<div class="col-md-9">
		<%= f.input :location_score_comments,  as: :text, class: "form-control" , readonly: true %>
	</div>
</div>