<div style="text-align: justify-all;">
	<h1 class="title">CREDIBILIDADE É A NOSSA ESTRADA</h1>
	<p class="content-credibility">
		Nossa equipe de reportagem percorre a América do Sul visitando os principais destinos. Avaliamos pessoalmente cada hospedagem, restaurante e atração turística. Dos lugares desconhecidos  aos badalados, dos mais simples ao luxuosos. Entendemos que o turismo precisa ser visto por olhares especializados, que possam destacar, reconhecer e premiar os investumentos na qualidade dos estabelecimentos, de forma justa e profissional, a fim de orientar os viajantes pelo continente.
	</p>
	<p class= 'read-more'><%= link_to raw('Leia mais<i class="fas fa-caret-down"></i>'), root_path  %></p>
</div>