<div style="text-align: justify;">
	<h1 class="title">TURISMO DE EXPERIÊNCIA</h1>
	<p class="content-credibility">
		Nossos reporteres etrevistam moradores em cada região do continente sulameriano para descobrir o que há de novo e encantador fora do <strong>"mainstream"</strong> do turismo. É uma imersão na cultura local. Estes jornalistas experimentam as dicas do nativos e se realmente elas valerem a viagem nós damos destaque detro das recomendações sobre o que fazer no local. Seja em gastronomia, passeios, aventuras, hospedagens em ambientes singulares vamos na frente mas sem dar <strong>spoilers</strong>.
	</p>

	<div id="how_we_work" class="carousel slide" data-ride="carousel">

	  <!-- Indicators -->
	  <ul class="carousel-indicators">
	    <li data-target="#how_we_work" data-slide-to="0" class="active"></li>
	    <li data-target="#how_we_work" data-slide-to="1"></li>
	    <li data-target="#how_we_work" data-slide-to="2"></li>
	  </ul>

	  <!-- The slideshow -->
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <%= image_pack_tag 'how_we_work_1.png', class: 'img-how-we-do' %>
	    </div>
	    <div class="carousel-item">
	      <%= image_pack_tag 'how_we_work_2.png', class: 'img-how-we-do' %>
	    </div>
	    <div class="carousel-item">
	      <%= image_pack_tag 'how_we_work_3.png', class: 'img-how-we-do' %>
	    </div>
	  </div>

	  <!-- Left and right controls -->
	  <a class="carousel-control-prev" href="#how_we_work" data-slide="prev">
	    <span class="carousel-control-prev-icon"></span>
	  </a>
	  <a class="carousel-control-next" href="#how_we_work" data-slide="next">
	    <span class="carousel-control-next-icon"></span>
	  </a>

	</div>
</div>