

<div class="container-md">
 <div class="card">
  <div class="card-header"><strong>Cidade</strong>
    <div class="float-right">
        <strong><%= @city.establishment.city %> </strong>
    </div>

  </div>
  <div class="card-body">

      <%# render partial: 'user/cities/show/establishment', locals: {f: f}  %>
      <%= render partial: 'user/cities/show/city_data' %>
      <%# render partial: 'user/cities/show/socialNetwork', locals: {f: f}  %>
      <%# render partial: 'user/cities/show/attachments', locals: {f: f}  %>
     

</div>
  <div class="card-footer">
        <%= link_to raw('<i class="far fa-window-close"></i> Voltar'), user_cities_path, class: "btn btn-sm btn-danger" %>  
  </div>


</div>
</div>

