<footer class="c-footer"> 
  <div>
    <a href="https://guiabrasildigital.com.br/" target="blank">Guia Brasil Digital</a>
    <span>&copy; 2020 equipe de TI.</span>
  </div>
  <div class="ml-auto">
    <span>Desenvolvido por</span>
    <a href="https://github.com/CaioHenrique50" target="blank">Caio Henrique</a> & <a href="https://github.com/LTRODPOOL" target="blank">Rodrigo Freitas</a>
  </div>
</footer>