<% @tourist_attractions.each do |tourist_attraction| %>

<div class="card mb-10" >
	<div class="row no-gutters">
		<div class="col-md-4">
			<% if tourist_attraction.photos.attached? %>
					<% tourist_attraction.photos.each do |photo| %>
						<%= image_tag(photo, width:"100%", height:"250")%>
					<% end %>
			<% else %>
				<%= image_pack_tag 'cataratas-iguacu.png', width:"100%", height:"250" %>
			<% end %>
		</div>

		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title"><%= tourist_attraction.establishment.name %> </h5>
				<p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		</div>
	</div>
</div>


<% end %>