<div class="row form-group">
	<div class="col-md-3">
		<%= f.input :beaches_score, readonly: true  %>
	</div>
		<div class="col-md-9">
		<%= f.input :beaches_score_comments, class: "form-control", readonly: true  %>
	</div>
</div>
